img{
    width:100%;
    max-width: 250px;
    height: auto;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fruta{
    border: outset 2px silver;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px black;
    padding:0.5em;
    margin: 1em 0;
}